@model GeoBaseSearch.Web.Models.HomeViewModel

<div id="app"></div>

<input id="AppSettings" type="hidden" value="@Model?.AppSettingsString"/>

@section Scripts
{
	<script type="text/javascript">
		const appSettingsElement = document.getElementById("AppSettings");

		if (!appSettingsElement)
			throw new Error("AppSettings element is not defined");

		if (!App)
			throw new Error("App object is not defined.")

		const app = new App(appSettingsElement.value);
		app.run();
    </script>
}